@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

:root {
  --background: #e46868;
  --foreground: #1385b9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-bc: hsl(0, 0%, 7%);
  /* Light Theme */
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --color-bright-blue: hsl(220, 98%, 61%);
  --color-check-gradient: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* Dark Theme */
  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-light-grayish-blue: hsl(234, 39%, 85%);
  --color-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --color-very-dark-grayish-blue-2: hsl(237, 14%, 26%);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jose: var(--font-josefin);

  /* background image */
  --background-image-md: url("../../public/images/bg-mobile-dark.jpg");
  --background-image-ml: url("../../public/images/bg-mobile-light.jpg");
  --background-image-dd: url("../../public/images/bg-desktop-dark.jpg");
  --background-image-dl: url("../../public/images/bg-desktop-light.jpg");
  --background-image-moon: url("../../public/images/icon-moon.svg");
  --background-image-sun: url("../../public/images/icon-sun.svg");
  --background-image-cross: url("../../public/images/icon-cross.svg");
  --background-image-check: url("../../public/images/icon-check.svg"),
    var(--color-check-gradient);

  /* breakpoints */
  --breakpoint-xs: 26.5625rem;

  /* padding */
  --padding-xm: 1rem;
  --padding-ym: 0.9rem;
  --padding-xmd: 1.3rem;
  --padding-ymd: 1.2rem;
  --padding-xlg: 1.5rem;
  --padding-ylg: 1.4rem;
}

.ts {
  /* background-image: url('../../public/images/icon-check.svg');
  background:url('../../public/images/icon-check.svg'), linear-gradient(310deg, #845de1, #74bbff);
  background-repeat: no-repeat; */
}

@media (prefers-color-scheme: dark) {
}

body {
  transition: background-color 0.2s ease-in-out, color 0.5s ease-in-out;
}

.drag {
  @apply bg-light-grayish-blue-hover dark:bg-very-dark-blue/50 
}
.drop {
  @apply bg-light-grayish-blue dark:bg-very-dark-blue/80
}
